/coverage/
/doc/
/lib/bundler/man
/pkg/
/rdoc
/test/tmp
/test/version_tmp
/tmp/
*.gem
*.rbc
*.bundle
*.yardoc
*.so
*.o
*.a
*.pid
mkmf.log
*.pstore
log/
_yardoc
.byebug_history
.config
.yardoc
.env
.env.*
/Gemfile.lock
InstalledFiles
